# Argmax-Mandated Requirements
ipywidgets==8.1.2
scikit-learn==1.6.1
matplotlib==3.10.1
opensearch-py==2.8.0
python-decouple==3.8
requests==2.33.0
pandas==2.2.3
pyarrow==19.0.1

# Core Dependencies for Shared Modules
sqlalchemy
loguru
ollama
ingredient-parser-nlp
redis

# Research and ML Dependencies
polars
rapidfuzz
python-dotenv
mlflow
numba
pydantic
tqdm
plotly
wordcloud
nltk
google-generativeai
deepeval
seaborn